.body{
    background-color: beige;
    display: flex;
    font-family: Arial, sans-serif;
    
}
    
/*for the main layout*/
.container{
    width: 96%;
    margin: auto;
    columns: 5;
    column-gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    
}
/* masonry gallery*/
.photo-gallery{
    display: flex;
    gap: 5px;
    display: flex;
    flex-direction:column;
}


/*for hover text */
.photo{
    position: relative;
}

.desc{
    position: absolute;
    opacity:0;
    bottom: -0.7rem;
    margin: auto;
    overflow: hidden;
    text-justify: auto;
    font-size:smaller;
    color: aliceblue;
    text-align: right;
}

.photo:hover .desc{
    opacity: 1;
}
.photo:hover IMG{
    opacity: 0.7;
}  
img{
        width: 100%;
        display: block; 
        margin: auto;
}
/************************************************************/
@media (max-width:90%)
{

}
/*******************************/

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    height: 96%;
    background-color: rgba(0, 0, 0, 0.8);}
    


.close-btn {
    position: absolute;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}
#displayedImage {
    width: 100%;
    height: auto;
}

.side-panel {
    background: white;
    padding: 20px;
    position: relative;
    width: 400px;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

.description {
    margin-top: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.navigation button {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.navigation button:hover {
    background: rgba(255, 255, 255, 1); 
}


.side-panel::-webkit-scrollbar {
    width: 6px; 
}

.side-panel::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

.side-panel::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
}
